.portfolio-item {
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}

.square {
  composes: portfolio-item;
}

.large {
  composes: portfolio-item;
}

.smallsquare {
  composes: portfolio-item;
}

.tall {
  composes: portfolio-item;
}

.wide {
  composes: portfolio-item;
}
