.main {
  padding: 10%;
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: azure;
}
.portfolio {
  composes: main;
  background-color: beige;
  /* Occupy all the space vertically from main (parent)*/
  display: grid;
  height: 100%;
  /* */
  grid-gap: 20px;
  /* 1fr -> Fraccion: fill up available space. If I put e.g. 100px they will all be squares*/
  grid-template-rows: [row1] 1fr [row1-end row2] 1fr [row2-end row3] 1fr [row3-end row4] 1fr [row4-end row5] 1fr [row5-end row6] 1fr;
  grid-template-columns: repeat(5, 1fr);
}

.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  composes: portfolio-item;
}

.large {
  composes: portfolio-item;
}

.smallsquare {
  composes: portfolio-item;
}

.tall {
  composes: portfolio-item;
}

.wide {
  composes: portfolio-item;
}
