.main {
  padding: 10%;
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: azure;
}

.portfolio {
  composes: main;
  display: grid;
  height: 100%;
  background-color: beige;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  composes: portfolio-item;
}

.large {
  composes: portfolio-item;
}

.smallsquare {
  composes: portfolio-item;
}

.tall {
  composes: portfolio-item;
}

.wide {
  composes: portfolio-item;
}
